In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("sales_data_sample.csv", encoding="latin1")  # or encoding="cp1252"
print(df.sample(5))

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
2760        10316               44      62.19                7  2736.36
802         10401               42      76.03                3  3193.26
2532        10397               32      80.55                5  2577.60
1389        10355               25     100.00                2  4203.50
2420        10282               37      66.78                7  2470.86

           ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
2760  11/1/2004 0:00  Shipped       4        11     2004  ...
802    4/3/2005 0:00  On Hold       2         4     2005  ...
2532  3/28/2005 0:00  Shipped       1         3     2005  ...
1389  12/7/2004 0:00  Shipped       4        12     2004  ...
2420  8/20/2004 0:00  Shipped       3         8     2004  ...

                   ADDRESSLINE1  ADDRESSLINE2        CITY          STATE  \
2760  Garden House Crowther Way           NaN       Cowes  Isle of Wight
802               7476 Moss Rd.           NaN      Newark             NJ
2532      1 rue Alsace-Lorraine           NaN    Toulouse            NaN
1389         C/ Moralzarzal, 86           NaN      Madrid            NaN
2420            5677 Strong St.           NaN  San Rafael             CA

     POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
2760   PO31 7PJ      UK      EMEA         Bennett            Helen    Small
802       94019     USA       NaN           Brown          William   Medium
2532      31000  France      EMEA          Roulet          Annette    Small
1389      28034   Spain      EMEA          Freyre            Diego   Medium
2420      97562     USA       NaN          Nelson          Valarie    Small

[5 rows x 25 columns]

In [5]:
###Analyze Missing Values

df.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [6]:
# i want to see duplicate values
# Check duplicate rows
duplicates = df.duplicated()
print(duplicates)

0       False
1       False
2       False
3       False
4       False
        ...
2818    False
2819    False
2820    False
2821    False
2822    False
Length: 2823, dtype: bool

In [12]:
#to fill missing values

df['STATE'] = df['STATE'].fillna(df['STATE'].mode()[0])
df['TERRITORY'] = df['TERRITORY'].fillna(df['TERRITORY'].mode()[0])
df['ADDRESSLINE2'] = df['ADDRESSLINE2'].fillna(df['ADDRESSLINE2'].mode()[0])

In [11]:
df.isnull().sum()

ORDERNUMBER          0
QUANTITYORDERED      0
PRICEEACH            0
ORDERLINENUMBER      0
SALES                0
ORDERDATE            0
STATUS               0
QTR_ID               0
MONTH_ID             0
YEAR_ID              0
PRODUCTLINE          0
MSRP                 0
PRODUCTCODE          0
CUSTOMERNAME         0
PHONE                0
ADDRESSLINE1         0
ADDRESSLINE2         0
CITY                 0
STATE                0
POSTALCODE          76
COUNTRY              0
TERRITORY            0
CONTACTLASTNAME      0
CONTACTFIRSTNAME     0
DEALSIZE             0
dtype: int64

In [13]:
df['POSTALCODE'] = df['POSTALCODE'].fillna(df['POSTALCODE'].mode()[0])

In [14]:
df.isnull().sum()

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
ADDRESSLINE2        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
TERRITORY           0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

In [15]:
#handling missing values
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
num_cols

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'QTR_ID', 'MONTH_ID', 'YEAR_ID', 'MSRP'],
      dtype='object')

In [16]:
for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_limit = Q1 - 1.5 * IQR
    upper_limit = Q3 + 1.5 * IQR
    
    print(f"{col}:")
    print("Lower Limit:", lower_limit)
    print("Upper Limit:", upper_limit)
    print()

ORDERNUMBER:
Lower Limit: 9949.75
Upper Limit: 10563.75

QUANTITYORDERED:
Lower Limit: 3.0
Upper Limit: 67.0

PRICEEACH:
Lower Limit: 22.15
Upper Limit: 146.71

ORDERLINENUMBER:
Lower Limit: -6.0
Upper Limit: 18.0

SALES:
Lower Limit: -1253.4249999999993
Upper Limit: 7964.855

QTR_ID:
Lower Limit: -1.0
Upper Limit: 7.0

MONTH_ID:
Lower Limit: -6.5
Upper Limit: 21.5

YEAR_ID:
Lower Limit: 2001.5
Upper Limit: 2005.5

MSRP:
Lower Limit: -16.0
Upper Limit: 208.0

In [17]:
for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_limit = Q1 - 1.5 * IQR
    upper_limit = Q3 + 1.5 * IQR
    
    df = df[(df[col] >= lower_limit) & (df[col] <= upper_limit)]

In [18]:
df.shape

(2701, 25)

In [19]:
df.duplicated().sum()

np.int64(0)

In [20]:
df[df.duplicated()]

Empty DataFrame
Columns: [ORDERNUMBER, QUANTITYORDERED, PRICEEACH, ORDERLINENUMBER, SALES, ORDERDATE, STATUS, QTR_ID, MONTH_ID, YEAR_ID, PRODUCTLINE, MSRP, PRODUCTCODE, CUSTOMERNAME, PHONE, ADDRESSLINE1, ADDRESSLINE2, CITY, STATE, POSTALCODE, COUNTRY, TERRITORY, CONTACTLASTNAME, CONTACTFIRSTNAME, DEALSIZE]
Index: []

[0 rows x 25 columns]

In [21]:
print(df.info)

<bound method DataFrame.info of       ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0      2/24/2003 0:00   Shipped       1         2     2003  ...
1       5/7/2003 0:00   Shipped       2         5     2003  ...
2       7/1/2003 0:00   Shipped       3         7     2003  ...
3      8/25/2003 0:00   Shipped       3         8     2003  ...
4     10/10/2003 0:00   Shipped       4        10     2003  ...
...               ...       ...     ...       ...      ...  ...
2818   12/2/2004 0:00   Shipped       4        12     2004  ...
2819   1/31/2005 0:00   Shipped       1         1     2005  ...
2820    3/1/2005 0:00  Resolved       1         3     2005  ...
2821   3/28/2005 0:00   Shipped       1         3     2005  ...
2822    5/6/2005 0:00   On Hold       2         5     2005  ...

                       ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0           897 Long Airport Avenue       Level 3            NYC    NY
1                59 rue de l'Abbaye       Level 3          Reims    CA
2     27 rue du Colonel Pierre Avia       Level 3          Paris    CA
3                78934 Hillside Dr.       Level 3       Pasadena    CA
4                   7734 Strong St.       Level 3  San Francisco    CA
...                             ...           ...            ...   ...
2818             C/ Moralzarzal, 86       Level 3         Madrid    CA
2819                    Torikatu 38       Level 3           Oulu    CA
2820             C/ Moralzarzal, 86       Level 3         Madrid    CA
2821          1 rue Alsace-Lorraine       Level 3       Toulouse    CA
2822             8616 Spinnaker Dr.       Level 3         Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA      EMEA              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA      EMEA           Young            Julie   Medium
4         28034      USA      EMEA           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko   Medium
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA      EMEA         Yoshido             Juri   Medium

[2701 rows x 25 columns]>

In [22]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,Level 3,NYC,NY,10022,USA,EMEA,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,Level 3,Reims,CA,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,Level 3,Paris,CA,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,Level 3,Pasadena,CA,90003,USA,EMEA,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,Level 3,San Francisco,CA,28034,USA,EMEA,Brown,Julie,Medium

In [23]:
df.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

In [6]:
product_summary = df.groupby('PRODUCTLINE').agg(
    Total_Sales=('SALES', 'sum'),
    Total_Quantity=('QUANTITYORDERED', 'sum'),
    Avg_MSRP=('MSRP', 'mean')
).sort_values(by='Total_Sales', ascending=False)
# print(product_summary.head())

In [16]:
Q1 = df['SALES'].quantile(0.25)
Q3 = df['SALES'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [8]:
#Data Type Conversion and Snapshot Date

from datetime import timedelta
import pandas as pd

# Convert ORDERDATE to datetime objects
df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'])

# Define a "today" date for Recency calculation (one day after the last order date)
snapshot_date = df['ORDERDATE'].max() + timedelta(days=1)
print(f"Analysis Snapshot Date: {snapshot_date}")

Analysis Snapshot Date: 2005-06-01 00:00:00

In [9]:
#Group and Aggregate for RFM

# Calculate Recency, Frequency, and Monetary
rfm_table = df.groupby('CUSTOMERNAME').agg(
    # Recency: Find the max date, then subtract from the snapshot date and extract days
    Recency=('ORDERDATE', lambda x: (snapshot_date - x.max()).days),

    # Frequency: Count the number of unique order numbers (transactions)
    Frequency=('ORDERNUMBER', 'nunique'),

    # Monetary: Sum the total sales amount
    Monetary=('SALES', 'sum')
)

print("RFM Table Head:")
print(rfm_table.head())

RFM Table Head:
                         Recency  Frequency   Monetary
CUSTOMERNAME
AV Stores, Co.               196          3  157807.81
Alpha Cognac                  65          3   70488.44
Amica Models & Co.           265          2   94117.26
Anna's Decorations, Ltd       84          4  153996.13
Atelier graphique            188          3   24179.96

In [10]:
#Calculate RFM Scores (1-5)


# Recency: Smallest days gets the highest score (5), so we reverse the scoring list [5, 4, 3, 2, 1]
rfm_table['R_Score'] = pd.qcut(rfm_table['Recency'], q=5, labels=[5, 4, 3, 2, 1])

# Frequency: Highest frequency gets the highest score (5)
rfm_table['F_Score'] = pd.qcut(rfm_table['Frequency'].rank(method='first'), q=5, labels=[1, 2, 3, 4, 5])

# Monetary: Highest monetary value gets the highest score (5)
rfm_table['M_Score'] = pd.qcut(rfm_table['Monetary'], q=5, labels=[1, 2, 3, 4, 5])

# Convert scores to integers
rfm_table[['R_Score', 'F_Score', 'M_Score']] = rfm_table[['R_Score', 'F_Score', 'M_Score']].astype(int)

print("\nRFM Table with Scores:")
print(rfm_table[['R_Score', 'F_Score', 'M_Score']].head())

RFM Table with Scores:
                         R_Score  F_Score  M_Score
CUSTOMERNAME
AV Stores, Co.                 3        2        5
Alpha Cognac                   4        2        2
Amica Models & Co.             1        1        3
Anna's Decorations, Ltd        4        4        5
Atelier graphique              3        2        1

In [11]:
#ðŸ·ï¸ Step 3: Assign RFM Segments
rfm_table['RFM_Score'] = rfm_table['R_Score'].astype(str) + \
                         rfm_table['F_Score'].astype(str) + \
                         rfm_table['M_Score'].astype(str)

In [12]:
#Define and Map Segments

def assign_segment(df):
    if df['R_Score'] >= 4 and df['F_Score'] >= 4 and df['M_Score'] >= 4:
        return 'Champions' # Best customers: bought recently, buy often, spend the most
    elif df['R_Score'] >= 4 and df['F_Score'] >= 4:
        return 'Loyal Customers' # High Recency and Frequency
    elif df['R_Score'] >= 3 and df['F_Score'] >= 3 and df['M_Score'] >= 3:
        return 'Potential Loyalist' # Average scores, good potential
    elif df['R_Score'] >= 2 and df['F_Score'] <= 2:
        return 'At Risk' # Not recently bought, infrequent, but spent well previously
    elif df['R_Score'] == 1:
        return 'Lost Customers' # Worst scores: lowest Recency
    else:
        return 'Others'

rfm_table['Customer_Segment'] = rfm_table.apply(assign_segment, axis=1)

print("\nRFM Segments:")
print(rfm_table['Customer_Segment'].value_counts())

RFM Segments:
Customer_Segment
At Risk               20
Lost Customers        19
Champions             19
Potential Loyalist    16
Others                14
Loyal Customers        4
Name: count, dtype: int64

In [13]:
#Preparation for CLV (Customer Lifetime Value)
# Calculate CLV pre-requisite metrics
clv_metrics = df.groupby('CUSTOMERNAME').agg(
    # T (Tenure): Age of customer in days (from first order to snapshot date)
    T=('ORDERDATE', lambda x: (snapshot_date - x.min()).days),

    # Monetary_Value: Average sales value per transaction (only for customers with >1 order)
    Monetary_Value=('SALES', 'mean')
)

# Merge back into the RFM table
rfm_table = rfm_table.join(clv_metrics)

# Final step: You would now use these metrics (Recency, Frequency, Monetary, T, Monetary_Value)
# as input for a CLV prediction library (e.g., `lifetimes` in Python).

print("\nCLV Ready Metrics:")
print(rfm_table[['Recency', 'Frequency', 'T', 'Monetary_Value']].head())

CLV Ready Metrics:
                         Recency  Frequency    T  Monetary_Value
CUSTOMERNAME
AV Stores, Co.               196          3  806     3094.270784
Alpha Cognac                  65          3  698     3524.422000
Amica Models & Co.           265          2  288     3619.894615
Anna's Decorations, Ltd       84          4  629     3347.741957
Atelier graphique            188          3  743     3454.280000

In [14]:
#Advanced Aggregations
# Group by COUNTRY and summarize Sales
country_sales_summary = df.groupby('COUNTRY').agg(
    Total_Sales=('SALES', 'sum'),
    Num_Orders=('ORDERNUMBER', 'nunique')
).sort_values(by='Total_Sales', ascending=False)

print("\nTop 5 Countries by Sales:")
print(country_sales_summary.head())

Top 5 Countries by Sales:
           Total_Sales  Num_Orders
COUNTRY
USA         3627982.83         112
Spain       1215686.92          36
France      1110916.52          37
Australia    630623.10          19
UK           478880.46          13

In [15]:
#Product Line Sales by Year (Pivot Table)

# Create a pivot table: PRODUCTLINE as rows, YEAR_ID as columns, SALES as values, using sum
product_year_pivot = pd.pivot_table(
    df,
    values='SALES',
    index='PRODUCTLINE',
    columns='YEAR_ID',
    aggfunc='sum',
    fill_value=0 # Fill missing (no sales) with 0
)

print("\nProduct Line Sales by Year:")
print(product_year_pivot)

Product Line Sales by Year:
YEAR_ID                 2003        2004       2005
PRODUCTLINE
Classic Cars      1484785.29  1762257.09  672573.28
Motorcycles        370895.58   560545.23  234947.53
Planes             272257.60   502671.80  200074.17
Ships              244821.09   341437.97  128178.07
Trains              72802.29   116523.85   36917.33
Trucks and Buses   420429.93   529302.89  178057.02
Vintage Cars       650987.76   911423.77  340739.31

In [17]:
#Advanced Aggregations and Pivot Tables

# Group by Territory and Product Line, then aggregate total sales and average MSRP
territory_product_summary = df.groupby(['TERRITORY', 'PRODUCTLINE']).agg(
    Total_Sales=('SALES', 'sum'),
    Average_MSRP=('MSRP', 'mean'),
    Total_Quantity=('QUANTITYORDERED', 'sum')
).sort_values(by='Total_Sales', ascending=False)

print("\nTerritory-Product Sales Summary (Top 5):")
print(territory_product_summary.head())

Territory-Product Sales Summary (Top 5):
                            Total_Sales  Average_MSRP  Total_Quantity
TERRITORY PRODUCTLINE
EMEA      Classic Cars       2086994.66    118.934363           18258
          Vintage Cars        848981.46     86.912587            9632
          Motorcycles         503096.70     91.956522            5072
          Trucks and Buses    498305.82    101.850394            4633
          Planes              476122.91     89.793548            5359

In [18]:
Q1 = df['SALES'].quantile(0.25)
Q3 = df['SALES'].quantile(0.75)
IQR = Q3 - Q1
upper_bound = Q3 + 1.5 * IQR
df['SALES_Capped'] = df['SALES'].clip(upper=upper_bound)

In [5]:
df['COUNTRY'].unique()

array(['USA', 'France', 'Norway', 'Australia', 'Finland', 'Austria', 'UK',
       'Spain', 'Sweden', 'Singapore', 'Canada', 'Japan', 'Italy',
       'Denmark', 'Belgium', 'Philippines', 'Germany', 'Switzerland',
       'Ireland'], dtype=object)